<?xml version="1.0" ?>
<launch>

    <!-- Node parameters -->
    <arg
        name="node_selected"
        default="$(optenv NODE_SELECTED 2)"
	/>
    <!-- Light service parameters -->
    <arg
        name="lights_service_name"
	default="$(optenv LIGHT_SERVICE_NAME '/gazebo/set_light_properties')"
        />
    <param
        name='lights_service_name'
        type="string"
        value="$(arg lights_service_name)"
    />

    <param
        name='node_selected'
        type="int"
        value="$(arg node_selected)"
    />

    <!-- MQTT connection arguments -->
    <arg
        name="mqtt_host"
        default="$(optenv MQTT_HOST localhost)"
    />
    <arg
        name="mqtt_port"
        default="$(optenv MQTT_PORT 1883)"
    />
    <arg
        name="mqtt_protocol"
        default="$(optenv MQTT_PROTOCOL 4)"
    />
    <arg
        name="mqtt_keepalive"
        default="$(optenv MQTT_KEEPALIVE 60)"
    />
    <!-- Topic Arguments -->
    <arg
        name="mqtt_topic"
        default="$(optenv MQTT_TOPIC /DECENTER/UC2/object-detector)"
    />
    <!-- Robots Arguments -->
    <!-- Robots 1  Arguments -->
    <arg
        name="robot_1_id"
        default="$(optenv ROBOT_1_ID 0)"
    />
    <arg
        name="robot_1_ns"
        default="$(optenv ROBOT_1_NS rb1_base)"
    />
    <arg
        name="robot_1_enable_service"
        default="$(optenv ROBOT_1_ENABLE_SERVICE /rb1_base/image_provider/comm_enable)"
    />
    <!-- Robots 2  Arguments -->
    <arg
        name="robot_2_id"
        default="$(optenv ROBOT_2_ID 1)"
    />
    <arg
        name="robot_2_ns"
        default="$(optenv ROBOT_2_NS robot_b)"
    />
    <arg
        name="robot_2_enable_service"
        default="$(optenv ROBOT_2_ENABLE_SERVICE /robot_b/image_provider/comm_enable)"
    />
    <!-- launch decenter_fms_manager -->
    <node
        pkg="decenter_fms_manager"
        type="decenter_fms_manager_node.py"
        name="decenter_fms_manager"
        output="screen"
    >
        <rosparam
            command="load"
            file="$(find decenter_fms_manager_bringup)/config/robots.yaml"
            subst_value="true"
        />
    </node>

    <!-- launch mqtt bridge -->
    <node
        name="mqtt_bridge"
        pkg="mqtt_bridge"
        type="mqtt_bridge_node.py"
        output="screen"
    >
        <rosparam
            command="load"
            file="$(find decenter_fms_manager_bringup)/config/mqtt_params.yaml"
            subst_value="true"
        />
    </node>

</launch>
